.museumDiv {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.topMuseumCard {
    background-color: antiquewhite;
    width: 80%;
    color: black;
    margin: 1rem auto;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    /* border: 2px solid white; */
}

.topMuseumCard > p {
    text-align: center;
}

.museumImg{
    float: left;
    width:  100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0.75rem 0.75rem 0 0;
}

.museumName {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
}

.museumLocation {
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
}

.homePanel {
    width: 75%;
    margin: auto;
    margin-top: 4rem;
    font-size: 20px;
    /* border: 2px solid white; */
}

.home-h3 {
    margin-top: 3rem;
}

@media only screen and (min-width: 768px) {

    .topMuseumCard {
        width: 30%;
    }

    .museumDiv {
        width: 80%;
        flex-direction: row;

    }

    .museumImg {
        width:  100%;
        height: 100%;
    }

}