.searchBar {
    margin: 1.5rem auto;
    width: 60%;
    font-size: 18px;
    padding: 0.5rem;
    display: block;
    border-radius: 20px;
    text-align: center;
}

.museumItem {
        width: 90%;
    /* border: 1px solid white; */
        margin: 2.5rem auto;
    display: flex;
        flex-direction: column;
    /* background-color: rgb(193, 193, 193); */
    background: rgb(230,208,182);
        /* background: linear-gradient(90deg, rgba(230,208,182,1) 40%, rgba(8,8,8,1) 100%); */
        padding: 0;
    border-radius: 30px;
    color: black;
}

.museumItem:hover {
    cursor: pointer;
}

.museumItemImage {
    float: left;
    width:  90%;
    height: 200px;
    margin: 1rem auto;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(116, 116, 116);
}

.museumItemInfo {
        margin: auto;
        text-align: center;
}

.museumItemName {
    font-size: 22px;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.museumItemLocation {
    font-weight: 500;
}

@media only screen and (min-width: 768px) {

    .searchBar {
        width: 20%;
    }

    .museumItem{
        width: 60%;
        margin: 3rem auto;
        flex-direction: row;
        padding: 2rem;
        background: linear-gradient(90deg, rgba(230,208,182,1) 40%, rgba(8,8,8,1) 100%);
    }

    .museumItemImage {
        width:  25vw;
        height: 20vw;
        margin: 0 3rem 0 0;
    }

    .museumItemInfo {
        text-align: left;
        margin-left: 0;
    }

    .museumItemName {
        font-size: 32px;
    }

}