.userComponent {
    width: 70%;
    margin: auto;
}

.userCard {
    /* display: flex; */
    /* border: 2px solid white; */
    width: 50%;
    margin-top: 2rem;
    margin: 2rem auto;
    text-align: center;
}

.userCard > div {
    /* border: 1px solid white; */
}

.editButton {
    background-color: white;
    width: 22px;
    padding: 3px;
    border-radius: 15px;
}
.editButton:hover{
    cursor: pointer;
}

.userImage {
    border-radius: 2rem;
}