.spinner {
    border: 6px solid wheat;
    width: 50%;
    margin: auto;
}

.spinner > img {
    margin: 2rem;
    /* border: 5px solid red; */
}


.userComponent {
    width: 90%;
    margin: auto;
}

.userCard {
    /* display: flex; */
    /* border: 2px solid white; */
    width: 75%;
    margin-top: 2rem;
    margin: 2rem auto;
    text-align: center;
}

.userContact {
    width: 100%;
}

.inputEmail {
    width: 80%;
    border-radius: 1rem;
    padding: 0.5rem;
}

.emailBtn {
    width: 50%;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: antiquewhite ;
}

.editButton {
    background-color: white;
    width: 22px;
    padding: 3px;
    border-radius: 15px;
}
.editButton:hover{
    cursor: pointer;
}

.userImage {
    border-radius: 2rem;
}

.ticketCard {
    width: 80%;
    margin: 2rem auto;
    padding: 0 2rem 2rem 2rem;
    background-color: antiquewhite;
    color: black;
    border-radius: 0.4rem;
}

.bookingID {
    font-weight: 500;
    font-size: 18px;
    text-decoration:overline;
}

.ticketList {
    list-style: none;
    padding: 0;
}

.ticketMuseumName {
    font-weight: 700;
    font-size: 26px;
}

.updateText {
    width: 80%;
    margin: auto;
    text-align: center;
    margin: 1rem auto;
    font-weight: 500;
    text-align: center;
}


@media only screen and (min-width: 900px) {

    .inputEmail {
        display: block;
        margin: auto;
        width: 25%;
    }

    .emailBtn {
        display: block;
        width: 20% ;
        margin: 1rem auto;
    }

    .userImage {
        width: 20%;
    }

}